* {
    margin: 0px;
}

.naglowek {
    background-color: red;
    height: 70px;
    width: 100%;

}

.naglowek img{ /* do zmiany w szkole*/
    margin-top: 8px;
    height: 50px;
    margin-left: 100px;
}

.naglowek h3 { /* do zmiany w szkole*/
    position: absolute;
    top: 12px;
    left: 150px;
    margin-left: 10px;
    color: white;
}

ul { /* do zmiany w szkole*/
    margin-top: 20px;
    list-style-type: none;
    float: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

li {
    display: inline;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    border-radius: 70px;
  background-color: #111;
}

#nas {
    color: grey;
    background-color: white;
    border-radius: 70px;
}

.inf {
    background-color: bisque;
    text-align: center;
}

.inf h2 { /* do zmiany w szkole*/
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inf p { /* do zmiany w szkole*/
    font-size: 20px;
    padding-bottom: 20px;
}

.pracownicy { /* do zmiany w szkole*/
    background-color: bisque;
    padding-left: 200px;
}

.pracownicy h2 { /* do zmiany w szkole*/
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pracownicy p { /* do zmiany w szkole*/
    font-size: 20px;
    padding-bottom: 20px;
}

hr { /* do zmiany w szkole*/
    border: 2px black solid;
    height: 6px;
}

.usluga { /* do zmiany w szkole*/
    background-color: bisque;
    padding-left: 900px;
}

.usluga h2 { /* do zmiany w szkole*/
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.usluga p { /* do zmiany w szkole*/
    font-size: 20px;
    padding-bottom: 20px;
}

.usluga a {
    font-size: 20px;
    color: purple;
}

.stopka {
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    background-color: rgb(25, 25, 25);
}